<html><h1>Dashboard</h1>
<body>
<p> Welcome <%= user.name %></p>
<br>
<p> Credit : <%= user.credit%></p>
<a href="/user/logout">Logout</a>
<a href="/user/active_tickets">View and consent Active Tickets</a>
</body>
</html>