<html>
<h1>Welcome!</h1>
<p>Create an account or login</p>
<!-- href doesnt use relative path but form does, href is asif it is a form or a route starting with a / -->
<a href="/user/register" class="btn btn-primary btn-block mb-2"
  >Register</a>
<a href="/user/login"> Login</a>
</html>